# macOS files
.DS_Store
project.xcworkspace
xcuserdata

# Ruby files
Gemfile.lock

# OCaml toplevel files
toplevel.js
js_of_ocaml/

# Android project files
*.iml
*.apk
*.aab
.gradle
local.properties
.idea
.vscode
.settings
build
captures
.externalNativeBuild
.project
.classpath
